.job {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
}

.btn__job_update {
  margin: auto;
  height: 2rem;
  width: 90%;
}

.btn__job_delete {
  margin: 1rem auto;
  height: 2rem;
  width: 90%;
}

@media (min-width: 40rem) {
  .btn__job_update {
    position: absolute;
    top: 3rem;
    right: 1rem;
    width: 100px;
  }

  .btn__job_delete {
    position: absolute;
    top: 6rem;
    right: 1rem;
    width: 100px;
  }
}
